.wrapper
  - haml_tag heading do
    %a{ :href => article.abspath }= article.heading
  .hr
    %hr
  .description
    - if article.summary.nil? || article.summary.empty?
      :maruku
        #{article.body}
    - else
      :maruku
        #{article.summary}
      %p.read_more
        %a{ :href => article.abspath }= article.read_more
        
.permalink
  .wrapper
    %p
      %a{:title => "permalink", :href => article.abspath}
        - if article.date
          %span= format_date(article.date)
        - if article.categories.empty?
          %span{:class => "right"}
            Uncategorised
        - else
          %span{:class => "right"}
            - article.categories.each do |category|
              = category.heading
              %br