.breadcrumb
  %a{ :href => "/" }= @site_title
  &gt;
  - if @article.parent
    %a{ :href => page_path(@article.parent) }= @article.parent.heading
    &gt;
  = @article.heading

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

#content
  - if @article.date
    .date= format_date(@article.date)
  ~ @article.to_html

  - unless @article.categories.empty?
    .categories
      Filed under
      - @article.categories.each do |category|
        %a{ :href => page_path(category) }= category.heading

  = haml :social, :layout => false
  = haml :feed, :locals => { :title => @site_title }, :layout => false

  - unless @comments.empty?
    .old-comments
      %h2 Comments
      %ol.comments
        - @comments.each do |comment|
          %li
            %p.meta
              %span
                - if comment.author_url.empty?
                  = comment.author
                - else
                  %a{ :href => comment.author_url, :rel => "nofollow" }= comment.author
              = "(#{comment.date.strftime('%d %B %Y, %H:%M')})"
            :markdown
              #{comment.body}
      %p
        Comments are no longer allowed on articles.
