.breadcrumb
  %a{ :href => "/" }= @home_link
  &gt;
  .article
    = @article.heading
    - unless @article.categories.empty?
      .categories
        (filed in
        = succeed ")" do
          - @article.categories.each do |category|
            %a{ :href => category_path(category) }= category.heading

#sidebar
  = haml :categories, :layout => false

#content
  #date= @article.date
  ~ @article.to_html
