.breadcrumb
  %a{ :href => "/" }= @home_link
  &gt;
  - if @article.parent
    %a{ :href => category_path(@article.parent) }= @article.parent.heading
    &gt;
  = @article.heading

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

#content
  - if @article.date
    #date= format_date(@article.date)
  ~ @article.to_html

  - unless @article.categories.empty?
    .categories
      Filed under
      - @article.categories.each do |category|
        %a{ :href => category_path(category) }= category.heading
