!!! XML
%feed(xmlns='http://www.w3.org/2005/Atom')
  %title(type='text')= @title
  %generator(uri='http://nestacms.com') Nesta
  %id= atom_id
  %link(href="#{url('/articles.xml')}" rel='self')
  %link(href="#{url('/')}" rel='alternate')
  %subtitle(type='text')= @subtitle
  - if @articles[0]
    %updated= @articles[0].date(:xmlschema)
  - if @author
    %author
      - if @author['name']
        %name= @author['name']
      - if @author['uri']
        %uri= @author['uri']
      - if @author['email']
        %email= @author['email']
  - @articles.each do |article|
    %entry
      %title= article.heading
      %link{ :href => url(article.path), :type => 'text/html', :rel => 'alternate' }
      %id= atom_id(article)
      %content(type='html')&= find_and_preserve(absolute_urls(article.body(self)))
      %published= article.date(:xmlschema)
      %updated= article.date(:xmlschema)
      - article.categories.each do |category|
        %category{ :term => category.permalink }
