.breadcrumb
  %a{ :href => "/" }= @site_title
  &gt;
  = @category.heading

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

#content
  ~ @category.to_html

  - unless @category.articles.empty?
    %h2.articles= "Articles on #{@category.heading}"
  
  - @category.articles.each do |article|
    = haml :summary, :layout => false, :locals => { :article => article, :heading => :h3 }
