.breadcrumb
  %a{ :href => "/" } Home
  &gt;
  - if @page.parent
    %a{ :href => @page.parent.abspath }= @page.parent.heading
    &gt;
  = @page.heading

#content
  - if @page.date
    .date= format_date(@page.date)

  ~ @page.to_html(self)

  = haml :summaries, :layout => false, :locals => { :pages => @page.pages, :heading => :h3 }

  - unless @page.articles.empty?
    %h2= "Articles on #{@page.heading}"
    = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }

  - unless @page.categories.empty?
    .categories
      %strong Categories:
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

  = haml :comments, :layout => false

= haml :sidebar, :layout => false
