.breadcrumb
  %a{ :href => "/" }= @site_title
  &gt;
  - if @page.parent
    %a{ :href => @page.parent.abspath }= @page.parent.heading
    &gt;
  = @page.heading

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false

#content
  - if @page.date
    .date= format_date(@page.date)
  ~ @page.to_html

  - unless @page.articles.empty?
    %h2.articles= "Articles on #{@page.heading}"
  
  - @page.articles.each do |article|
    = haml :summary, :layout => false, :locals => { :article => article, :heading => :h3 }

  - unless @page.categories.empty?
    .categories
      Filed under
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

  = haml :social, :layout => false
  = haml :feed, :locals => { :title => @site_title }, :layout => false

  - unless @comments.empty?
    .old-comments
      %h2 Comments
      %ol.comments
        - @comments.each do |comment|
          %li
            %p.meta
              %span
                - if comment.author_url.empty?
                  = comment.author
                - else
                  %a{ :href => comment.author_url, :rel => "nofollow" }= comment.author
              = "(#{comment.date.strftime('%d %B %Y, %H:%M')})"
            :markdown
              #{comment.body}
      %p
        Comments are no longer allowed on articles.
