#header
  %p#logo
    %a{ :href => "/" }= @heading
    %small= no_widow @subtitle

#sidebar
  = haml :categories, :layout => false
  = haml :feed, :layout => false
  = haml :about, :layout => false

#content
  .breadcrumb
    %a{ :href => "/" } Home
    &gt;
    - if @page.parent
      %a{ :href => @page.parent.abspath }= @page.parent.heading
      &gt;
    = @page.heading

  - if @page.date
    .date= format_date(@page.date)
  ~ @page.to_html

  .pages
    - @page.pages.each do |page|
      = haml :summary, :layout => false, :locals => { :article => page, :heading => :h3 }

    - unless @page.articles.empty?
      %h2.articles= "Articles on #{@page.heading}"
  
    - @page.articles.each do |article|
      = haml :summary, :layout => false, :locals => { :article => article, :heading => :h3 }

  = haml :social, :layout => false

  - unless @page.categories.empty?
    .categories
      Filed under:
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

  = haml :comments, :layout => false